<html>
    <body>
        <% for(var i = 0; i < filelist.length; i++) { %>
            <br>
            <a href="/download<%= filelist[i] %>"><%= filelist[i] %></a>
        <% } %>            
    </body>
</html>